.circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brandeis-blue);
    border-bottom: 3px solid black;
    transition: all 0.05s ease-in;
}

.circle:hover {
    border-bottom-width: 0px;
    transform: translateY(3px);
    cursor: pointer;
}

.circle i {
    color: white;
}

.dependent {
    background: linear-gradient(to bottom, #d1e6fe 0px, #ffffff 8px, #ffffff 100%);
}

.table {
    width: 100%;
    text-align: left;
}

.table.secondary {
    width: 100%;
    text-align: left;
    border-left: 4px solid var(--brandeis-blue);
    border-radius: 0px 5px;
    box-shadow: 0px -1px 2px rgb(197, 197, 197) inset;
}

.table tr {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.table td,
.table th  {
    padding: 10px;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.table.secondary td {
    border-bottom: none;
    align-items: left;
    height: 80px;
    padding: 2px 5px;
}

.table.secondary td div {
    text-align: left;
    margin: 0;
    font-size: 14px;
}

.table.secondary td div.item-header {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table.secondary td div:first-child {
    font-weight: bold;
}

.table.secondary td div + div {
    margin-top: 5px;
}

.table.secondary tr + tr > td {
    border-top: 1px solid rgb(204, 204, 204);
}

.table tr.selected td {
    text-shadow: 1px 1px 1px var(--spiro-disco-ball);
}

td.orderId {
    font-weight: bold;
    color: var(--brandeis-blue);
}

.thumbnail {
    max-width:80px;
    max-height:80px;
    vertical-align: middle;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: none;
}

.status .dot {
    display: flex;
    align-items: center;
}

.status .dot .fa-circle {
    font-size: 6px;
    margin-right: 5px;
}

.status.pending {
    background-color: #e5f01a;
    color: #808000;
}

.status.fulfilled {
    background-color: #9ef01a;
    color: #008000;
}

.status.unfulfilled {
    background-color: #ffccd5;
    color: #c9184a;
}