/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
}

body {
  background-color: #fafafa;
  font-family: 'Jost', sans-serif;
  font-weight: 300;
  padding: 20px 20px 40px 20px;
}

main {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 130px -50px var(--qwik-dark-blue);
  overflow: hidden;
}

h1,
h2 {
  margin: 0 0 5px 0;
}

.app-title {
  font-family: 'Sen', sans-serif;
  text-decoration: underline;
  text-decoration-color: white;
  border: none;
  color: black;
  font-weight: 700;
  font-size: 20px;
  margin-left: 20px;
}

p {
  margin: 0;
}

.d-flex {
  display: flex;
}

.justify-content-space-between {
  justify-content: space-between;
}

.flex-direction-col {
  flex-direction: column;
}

section {
  padding: 20px;
  border-bottom: 10px solid var(--qwik-dark-blue);
}

ul {
  list-style-type: square;
  margin: 5px 0 30px 0;
  padding-left: 25px;
}

li {
  padding: 8px 0;
}

li::marker {
  color: var(--qwik-light-blue);
}

a,
a:visited {
  color: var(--qwik-dark-blue);
}

a:hover {
  text-decoration: none;
}

code {
  font-family: Menlo, Monaco, Courier New, monospace;
  font-size: 0.9em;
  background-color: rgb(224, 224, 224);
  padding: 2px 4px;
  border-radius: 3px;
  border-bottom: 2px solid #bfbfbf;
}

footer {
  padding: 15px;
  text-align: center;
  font-size: 0.8em;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

a.btn {
  display: block;
  padding: 10px 20px;
  border-radius: 10px;
  border: 0;
  color: white;
  text-decoration: none;
  font-family: 'Sen', sans-serif;
  font-size: 20px;
  width: fit-content;
  border-bottom: 4px solid black;
  cursor: pointer;
  transition: all 0.05s ease-in;
}

a.btn.standard {
  background: var(--qwik-dark-blue);
}

a.btn:hover {
  border-bottom-width: 0px;
  margin-bottom: 4px;
  transform: translateY(4px);
}

.mb-20 {
  margin-bottom: 20px;
}

.w-32 {
  width: 32%;
}