/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --brandeis-blue: #006ce9;
  --spiro-disco-ball: #18b6f6;
  --lavender: #ac7ff4;
  --plump-purple: #713fc2;
  --selective-yellow: #ffb703;
  --caribbean-green: #02c39a;
}

body {
  background-color: #fafafa;
  font-family: 'Jost', sans-serif;
  font-weight: 300;
  padding: 20px 20px 40px 20px;
}

main {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 130px -50px var(--brandeis-blue);
  overflow: hidden;
}

h1,
h2 {
  margin: 0 0 5px 0;
}

p {
  margin: 0;
}

section {
  padding: 20px;
  min-height: calc(100% - 50px);
  border-bottom: 10px solid var(--brandeis-blue);
}

ul {
  list-style-type: square;
  margin: 5px 0 30px 0;
  padding-left: 25px;
}

li {
  padding: 8px 0;
}

li::marker {
  color: var(--spiro-disco-ball);
}

a,
a:visited {
  color: var(--brandeis-blue);
}

a:hover {
  text-decoration: none;
}

code {
  font-family: Menlo, Monaco, Courier New, monospace;
  font-size: 0.9em;
  background-color: rgb(224, 224, 224);
  padding: 2px 4px;
  border-radius: 3px;
  border-bottom: 2px solid #bfbfbf;
}

footer {
  padding: 15px;
  text-align: center;
  font-size: 0.8em;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Custom Classes */

.app-title {
  font-family: 'Sen', sans-serif;
  text-decoration: underline;
  text-decoration-color: white;
  border: none;
  color: black;
  font-weight: 700;
  font-size: 20px;
  margin-left: 20px;
}

.d-none {
  display: none;
}

.gap * + * {
  margin-left: 20px;
}

.highlighted-change {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    padding: 3px;
    background-color: #e4e4e4;
    color: #464646;
}

.highlighted-change-container {
  height: 20px;
  width: 60px;
  font-size: 12px;
}

.highlighted-change.increasing {
    background-color: #9ef01a;
    color: #008000;
}

.highlighted-change.decreasing {
    background-color: #ffccd5;
    color: #c9184a;
}

.input.withIcon {
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 0px;
  border-radius: 5px;
  height: 30px;
  width: 250px;
  transition: all 0.1s ease-in;
}

.input.withIcon {
  color: black;
  transition: all 0.1s ease-in;
}

.input.withIcon:focus-within {
  border: 1px solid var(--spiro-disco-ball);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input.withIcon:focus-within i {
  color: var(--brandeis-blue);
}

.input.withIcon input {
  height: 18px;
  max-height: 100%;
  width: 100%;
  margin: 0;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  border: none;
}

.input.withIcon input:focus {
  outline: none;
}

.leftPane {
    width: 300px;
    min-height: 100%;
}

.rightPane {
    width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 100%;
}

.row.distinct {
  border-bottom: 1px solid rgb(204, 204, 204);
}

.row div + div {
  margin-left: 20px;
}

.row button + button {
  margin-left: 10px;
}

.standard-select {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Sen', sans-serif;
}

.title-block {
  margin-right: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  border: 0;
  color: white;
  text-decoration: none;
  font-family: 'Sen', sans-serif;
  font-size: 20px;
  width: fit-content;
  border-bottom: 4px solid black;
  cursor: pointer;
  transition: all 0.05s ease-in;
}

.btn.md {
  font-size: 14px;
}

.btn.primary {
  background: var(--brandeis-blue);
}

.btn.secondary {
  background: var(--caribbean-green);
}

.btn:hover {
  border-bottom-width: 0px;
  margin-bottom: 4px;
  transform: translateY(4px);
}


/* Formatting */
.align-items-center {
  align-items: center;
}

.d-flex {
  display: flex;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-col {
  flex-direction: column;
}

.h-90vh {
  min-height: 90vh;
}

.h-100 {
  height: 100%;
}

.hm-100 {
  min-height: 90vh;
}

.justify-content-space-between {
  justify-content: space-between;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.p-10 {
  padding: 10px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.p-20 {
  padding: 20px;
}

.w-30 {
  width: 30%;
  max-width: 30%;
}

.w-47 {
  width: 47%;
  max-width: 47%;
}

.w-50 {
  width: 50%;
  max-width: 50%;
}

.w-100 {
  max-width: 100%;
}